<%- include('partials/header') %>
  <div class="container mt-5 me-3">
    <h1>Register</h1>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /register route -->
            <form action="/register" method="POST">
              <div class="form-group">
                <label class="pb-2" for="email">Email</label>
                <input type="email" class="form-control mb-3" name="username">
              </div>
              <div class="form-group">
                <label class="pb-2" for="password">Password</label>
                <input type="password" class="form-control mb-3" name="password">
              </div>
              <button type="submit" class="btn btn-dark">Register</button>
            </form>
            <form action="/login/federated/google" method="post">
              <a class="button google" href="/login/federated/google">Sign in with Google</a>
              <% if (messages.error) { %>
                <p class="error-text">
                  <%=messages.error%>
                </p>
                <% } %>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

  <%- include('partials/header') %>